Repository proconnect-gouv/proconnect-identite, pull requests merged in 2024-04, with the labels that each got.

#526 chore(deps): bump cypress to 13.7.2
  package-lock.json
  package.json
Labels: dependencies

#531 chore(deps): bump cypress-io/github-action to 6.6.1
  .github/workflows/end-to-end.yml
Labels: dependencies

#532 chore(deps): bump actions/upload-artifact to v4
  .github/workflows/end-to-end.yml
Labels: dependencies

#535 chore(deps): update dependence vite
  package-lock.json
Labels: dependencies

#537 chore(dependabot): add weekly bot updates
  .github/dependabot.yml
Labels: enhancement

#538 add new espace-sur-demande demo environment to fixtures
  scripts/fixtures.sql
Labels: dependencies

#542 ci(github): bump ubuntu to 22.04
  .github/workflows/end-to-end.yml
  .github/workflows/fixtures.yml
  .github/workflows/test.yml
Labels: enhancement, dependencies

#550 Revert "Revert "ci(github): bump ubuntu to 22.04""
  .github/workflows/end-to-end.yml
  .github/workflows/fixtures.yml
  .github/workflows/test.yml
Labels: dependencies, github_actions

#553 feat(sentry): pass the DEPLOY_ENV as environment
  src/index.ts
Labels: enhancement

#557 chore(deps): bump available minor
  package-lock.json
  package.json
Labels: dependencies, javascript

#555 perf(sentry): bring down the sample rate
  src/index.ts
Labels: enhancement

#556 chore(deps): bump available patch
  package-lock.json
  package.json
Labels: dependencies, javascript
