Repository proconnect-gouv/proconnect-identite, pull requests merged in 2024-10, with the labels that each got.

#709 add crisp widget
  assets/js/crisp.js
  src/index.ts
  src/views/partials/head.ejs
Labels: enhancement

#718 fix: use same environment logic for node-pg-migrate and app
  .env.development
  .env.sample
  .github/workflows/fixtures.yml
  package.json
Labels: enhancement

#712 chore(tsc): cover the whole project
  cypress/support/a11y/checkA11y.ts
  cypress/support/a11y/checks/has-page-title.ts
  cypress/support/commands.ts
  cypress/support/get-from-email.ts
  package.json
  scripts/import-accounts-coop.ts
  scripts/import-accounts.ts
  scripts/import-domains.ts
  scripts/run-sql-script.ts
  scripts/update-organizations-info.ts
  test/epoch-time.test.ts
  test/is-expired.test.ts
  test/organization.test.ts
  tsconfig.json
Labels: enhancement

#764 chore(tsc): add isolatedModules option
  tsconfig.json
Labels: enhancement

#766 chore(assets) add mail-proconnect.png
  public/mail-proconnect.png
Labels: enhancement

#765 chore: add maildev
  .github/workflows/end-to-end.yml
  cypress.config.ts
  cypress/support/e2e.ts
  docker-compose.yml
  package-lock.json
  package.json
Labels: enhancement, dependencies, github_actions

#758 chore: update postgres to 15.8
  .github/workflows/end-to-end.yml
  .github/workflows/fixtures.yml
  docker-compose.yml
Labels: dependencies

#770 feat: cross origin resource access on the proconnect mail logo
  src/index.ts
Labels: enhancement

#748 feat(email): storybook like email package
  .github/workflows/test.yml
  .gitignore
  Dockerfile
  package-lock.json
  package.json
  packages/email/.storybook/ChangeView.tsx
  packages/email/.storybook/SendEmailFormWebComponent.tsx
  packages/email/.storybook/index.html
  packages/email/.storybook/index.tsx
  packages/email/README.md
  packages/email/index.html
  packages/email/package.json
  packages/email/src/DeleteFreeTotpMail.stories.tsx
  packages/email/src/DeleteFreeTotpMail.tsx
  packages/email/src/UpdatePersonalDataMail.stories.tsx
  packages/email/src/UpdatePersonalDataMail.tsx
  packages/email/src/_layout.tsx
  packages/email/src/components/Html.tsx
  packages/email/src/components/Link.tsx
  packages/email/src/components/ProConnectLogo.tsx
  packages/email/src/components/Section.tsx
  packages/email/src/components/Text.tsx
  packages/email/src/components/index.ts
  packages/email/src/components/style.ts
  packages/email/src/index.ts
  packages/email/tsconfig.json
  tsconfig.json
Labels: enhancement

#650 feat(email): use smtp protocol
  Dockerfile
  cypress/e2e/delete_totp/fixtures.sql
  cypress/e2e/delete_totp/index.cy.ts
  package-lock.json
  package.json
  packages/email/src/Delete2faProtection.stories.tsx
  packages/email/src/Delete2faProtection.tsx
  packages/email/src/index.ts
  src/config/env.ts
  src/config/env.zod.ts
  src/connectors/brevo.ts
  src/connectors/mail.ts
  src/controllers/main.ts
  src/controllers/totp.ts
  src/managers/user.ts
  src/views/mails/delete-free-totp.ejs
  test/env.zod.test.ts
  tsconfig.json
Labels: enhancement

#794 feat(email): more email components
  packages/email/src/components/Badge.tsx
  packages/email/src/components/Button.tsx
  packages/email/src/components/Em.tsx
  packages/email/src/components/index.ts
  packages/email/src/components/style.ts
Labels: enhancement

#800 fix(connectors): parse the annuaire adresse field
  src/connectors/api-annuaire-service-public.ts
  test/api-annuaire-service-public-data/one-mairie.json
  test/api-annuaire-service-public-data/two-mairies.json
Labels: bug

#786 feat(email): add add 2fa smtp email
  cypress/e2e/activate_totp/fixtures.sql
  cypress/e2e/activate_totp/index.cy.ts
  packages/email/src/Add2fa.stories.tsx
  packages/email/src/Add2fa.tsx
  packages/email/src/index.ts
  src/connectors/brevo.ts
  src/controllers/totp.ts
  src/managers/user.ts
  src/views/mails/add-2fa.ejs
Labels: enhancement

#785 feat(email): add update totp application smtp email
  cypress/e2e/update_totp_application/fixtures.sql
  cypress/e2e/update_totp_application/index.cy.ts
  packages/email/src/UpdateTotpApplication.stories.tsx
  packages/email/src/UpdateTotpApplication.tsx
  packages/email/src/index.ts
  src/connectors/brevo.ts
  src/controllers/totp.ts
  src/managers/user.ts
  src/views/mails/update-totp-application.ejs
Labels: enhancement

#787 feat(email): add update personal info smtp email
  cypress/e2e/update_personal_information/fixtures.sql
  cypress/e2e/update_personal_information/index.cy.ts
  src/connectors/brevo.ts
  src/controllers/main.ts
  src/managers/user.ts
  src/views/mails/update-personal-data.ejs
Labels: enhancement
