Repository proconnect-gouv/proconnect-identite, pull requests merged in 2025-05, with the labels that each got.

#1187 a11y(logo): removes the ‘logo’ specification from art
  packages/email/src/components/ProConnectLogo.tsx
Labels: scope: email

#1189 OIDC compliance
  cypress/e2e/signin_from_standard_client/index.cy.ts
  cypress/e2e/signin_with_email_verification_renewal/fixtures.sql
  src/config/oidc-provider-configuration.ts
  src/controllers/interaction.ts
Labels: :traffic_light: e2e

#1208 chore: correct typescript tests
  packages/testing/package.json
  packages/testing/src/api/routes/oidc.franceconnect.gouv.fr/index.ts
  packages/testing/tests/integration.test.ts
  packages/testing/tsconfig.json
Labels: enhancement, :test_tube: unit test

#1209 chore(pkg): update to node@22.15 and npm@11.3
  package-lock.json
  package.json
Labels: enhancement

#1197 fix: currentUrl invalid_grant
  packages/identite/src/managers/franceconnect/openid-client.ts
  packages/testing/src/api/routes/oidc.franceconnect.gouv.fr/index.ts
  src/controllers/user/franceconnect.ts
Labels: bug, scope: identite

#1210 chore(deps): update to postgres:16.8
  .github/workflows/fixtures.yml
  compose.yml
Labels: :construction_worker: CI

#1211 chore(deps): update to postgres:16.9
  .github/workflows/fixtures.yml
  compose.yml
Labels: enhancement, :construction_worker: CI

#1213 refactor(debounce): replace mocha with node:test
  packages/crisp/package.json
  packages/debounce/package.json
  packages/debounce/src/api/single-validation.test.ts
  packages/entreprise/package.json
Labels: enhancement, :test_tube: unit test, scope: crisp, scope: entreprise, scope: debounce

#1215 refactor(crips): replace mocha with node:test
  package-lock.json
  packages/core/src/services/email/is-a-free-domain.test.ts
  packages/crisp/.env.test
  packages/crisp/package.json
  packages/crisp/src/router/conversation.e2e.test.ts
  packages/crisp/src/router/operators.e2e.test.ts
  packages/crisp/testing/config.ts
  packages/crisp/testing/dotenv.ts
  packages/crisp/testing/expect.ts
  packages/debounce/package.json
  test/base64.test.ts
  test/symmetric-encryption.test.ts
Labels: enhancement, :test_tube: unit test, scope: core, scope: crisp, scope: debounce

#1214 refactor(entreprise): test clean up
  packages/entreprise/package.json
  packages/entreprise/src/formatters/adresse-establishment.test.ts
  packages/entreprise/src/formatters/libelle-from-code-effectif.test.ts
  packages/entreprise/src/formatters/main-activity.test.ts
  packages/entreprise/src/formatters/nom-complet.test.ts
  packages/identite/src/managers/certification/is-organization-executive.test.ts
  packages/identite/testing/seed/mandataires/index.ts
  packages/identite/tsconfig.json
Labels: enhancement, :test_tube: unit test, scope: identite, scope: entreprise

#1216 chore(dependabot): add docker
  .github/dependabot.yml
Labels: enhancement

#1223 test(crisp): skip system test
  .github/workflows/test.yml
Labels: enhancement, :construction_worker: CI

#1227 chore(dependabot): add scalingo limitations
  .github/dependabot.yml
Labels: enhancement

#1237 chore(fixtures): update showcase url
  scripts/fixtures.sql
Labels: enhancement

#1241 chore(env): SMTP_URL is mandatory for the env var
  .env.development
  .env.test
  .github/workflows/end-to-end.yml
  .github/workflows/fixtures.yml
  src/config/env.zod.ts
  test/env.zod.test.ts
Labels: enhancement, :construction_worker: CI, :test_tube: unit test

#1243 ci(github): use ubuntu-latest
  .github/workflows/end-to-end.yml
  .github/workflows/fixtures.yml
  .github/workflows/test.yml
Labels: enhancement, :construction_worker: CI

#1246 fix(welcome): big check img
  src/views/user/welcome-dirigeant.ejs
Labels: bug

#1248 fix(testing): wrong birthday for ulysse
  packages/testing/src/api/routes/entreprise.api.gouv.fr/mandataires_sociaux/552032534.json
Labels: bug

#1244 chore(docker): use latest proconnect-test-client version
  compose.yml
  cypress/e2e/signin_from_proconnect_federation_client/index.cy.ts
  cypress/e2e/signin_from_standard_client/index.cy.ts
  cypress/e2e/signin_with_certification_dirigeant/index.cy.ts
  cypress/e2e/signin_with_legacy_scope/index.cy.ts
  cypress/e2e/signin_with_right_acr/index.cy.ts
  cypress/support/commands.ts
Labels: enhancement, :traffic_light: e2e

#1250 📝 docs(README): remove useless steps in installation
  installation.md
Labels: :memo: documentation

#1252 fix(force-join): official contact is considered as a domain verificat…
  .changeset/nine-roses-admire.md
  packages/identite/src/managers/organization/force-join-organization.test.ts
  packages/identite/src/managers/organization/force-join-organization.ts
  packages/identite/src/types/email-domain.ts
Labels: :memo: documentation, :test_tube: unit test, scope: identite

#1266 fix(testing): wrong birthday for stevens
  packages/testing/src/api/routes/entreprise.api.gouv.fr/mandataires_sociaux/792713778.json
Labels: bug
