Repository proconnect-gouv/proconnect-identite, pull requests merged in 2025-03, with the labels that each got.

#1016 chore(e2e): add cy.getDescribed
  cypress/e2e/reauthenticate_on_admin_page/env.conf
  cypress/e2e/reauthenticate_on_admin_page/index.cy.ts
  cypress/support/commands.ts
  src/views/connection-and-account.ejs
Labels: :traffic_light: e2e

#1017 chore(e2e): do not always slow down cypress videos
  .github/workflows/end-to-end.yml
  cypress/README.md
  cypress/support/e2e.ts
Labels: :memo: documentation, :traffic_light: e2e, :construction_worker: CI

#1018 test: move from mocha chai to node:test
  mocks/entreprise.api.gouv.fr/add-establishment.ts
  package-lock.json
  packages/entreprise/src/api/find-by-siren.test.ts
  packages/entreprise/src/types/errors.ts
  packages/identite/package.json
  packages/identite/src/managers/organization/force-join-organization.test.ts
  packages/identite/src/managers/organization/get-organization-info.test.ts
  packages/identite/src/managers/organization/mark-domain-as-verified.test.ts
  packages/identite/src/mappers/organization/fromSiret.test.ts
  packages/identite/src/repositories/email-domain/add-domain.test.ts
  packages/identite/src/repositories/email-domain/find-email-domains-by-organization-id.test.ts
  packages/identite/src/repositories/organization/find-by-id.test.ts
  packages/identite/src/repositories/organization/get-users-by-organization.test.ts
  packages/identite/src/repositories/organization/link-user-to-organization.test.ts
  packages/identite/src/repositories/organization/upset.test.ts
  packages/identite/src/repositories/user/create.test.ts
  packages/identite/src/repositories/user/find-by-email.test.ts
  packages/identite/src/repositories/user/find-by-id.test.ts
  packages/identite/src/repositories/user/update-user-organization-link.test.ts
  packages/identite/src/repositories/user/update.test.ts
Labels: enhancement, :test_tube: unit test, scope: identite, scope: entreprise

#1004 ✨ feat(user): add franceconnect button on info page
  .github/workflows/end-to-end.yml
  assets/css/imports/custom.css
  cypress/README.md
  cypress/e2e/connect_franceconnect_account/env.conf
  cypress/e2e/connect_franceconnect_account/fixtures.sql
  cypress/e2e/connect_franceconnect_account/index.cy.ts
  cypress/e2e/signin_with_right_acr/index.cy.ts
  cypress/e2e/update_personal_information/fixtures.sql
  cypress/e2e/update_personal_information/index.cy.ts
  cypress/support/commands.ts
  docker-compose.yml
  migrations/1740590618761_add-franceconnect-userinfo.cjs
  package-lock.json
  package.json
  packages/identite/package.json
  packages/identite/src/managers/franceconnect/index.ts
  packages/identite/src/managers/franceconnect/openid-client.ts
  packages/identite/src/repositories/franceconnect/index.ts
  packages/identite/src/repositories/user/get-franceconnect-user-info.test.ts
  packages/identite/src/repositories/user/get-franceconnect-user-info.ts
  packages/identite/src/repositories/user/index.ts
  packages/identite/src/repositories/user/update.ts
  packages/identite/src/repositories/user/upsert-franceconnect-userinfo.test.ts
  packages/identite/src/repositories/user/upsert-franceconnect-userinfo.ts
  packages/identite/src/types/franceconnect.ts
  packages/identite/src/types/index.ts
  scripts/cypress-single-test-setup.ts
  src/config/env.ts
  src/config/env.zod.ts
  src/config/notification-messages.ts
  src/connectors/franceconnect.ts
  src/controllers/main.ts
  src/controllers/user/franceconnect.ts
  src/controllers/user/update-personal-informations.ts
  src/index.ts
  src/managers/session/authenticated.ts
  src/managers/session/franceconnect.ts
  src/managers/user.ts
  src/repositories/user.ts
  src/routers/user.ts
  src/types/express-session.d.ts
  src/views/partials/revoke-verification-franceconnect.ejs
  src/views/personal-information.ejs
  src/views/user/personal-information.ejs
  test/acr-checks.test.ts
  test/env.zod.test.ts
Labels: enhancement, :memo: documentation, :traffic_light: e2e, :construction_worker: CI, :test_tube: unit test, scope: identite, :file_cabinet: e2e

#1021 feat(core): add oidc service
  .changeset/lucky-fans-smell.md
  .changeset/swift-carrots-rest.md
  packages/core/package.json
  packages/core/src/services/oidc/contains-essential-acrs.test.ts
  packages/core/src/services/oidc/contains-essential-acrs.ts
  packages/core/src/services/oidc/index.ts
  packages/core/src/services/oidc/prompt.ts
  packages/core/src/services/suggestion/did-you-mean.test.ts
  packages/identite/package.json
  packages/identite/src/errors/index.ts
  src/services/acr-checks.ts
Labels: enhancement, :memo: documentation, :test_tube: unit test, scope: core, scope: identite

#1023 docs(core): add README.md
  .github/workflows/tsdoc.yml
  README.md
  package.json
  packages/core/README.md
  packages/core/package.json
  packages/core/src/services/oidc/README.md
  packages/core/src/services/oidc/contains-essential-acrs.ts
  packages/identite/package.json
Labels: :memo: documentation, :construction_worker: CI, scope: core, scope: identite

#1024 test(core): move from mocha chai to node:test
  packages/core/package.json
  packages/core/src/security/generate-diceware-password.test.ts
  packages/core/src/security/generate-pin-token.test.ts
  packages/core/src/security/generate-token.test.ts
  packages/core/src/security/get-trusted-referrer-path.test.ts
  packages/core/src/security/hash-password.test.ts
  packages/core/src/security/is-domain-valid.test.ts
  packages/core/src/security/is-email-valid.test.ts
  packages/core/src/security/is-name-valid.test.ts
  packages/core/src/security/is-password-secure.test.ts
  packages/core/src/security/is-phone-number-valid.test.ts
  packages/core/src/security/is-siret-valid.test.ts
  packages/core/src/security/is-visible-string.test.ts
  packages/core/src/security/validate-password.test.ts
  packages/core/src/services/email/get-email-domain.test.ts
  packages/core/src/services/email/is-a-free-domain.test.ts
  packages/core/src/services/oidc/contains-essential-acrs.test.ts
  packages/entreprise/package.json
Labels: enhancement, :test_tube: unit test, scope: core, scope: entreprise

#1026 chore(migrations): remove console.logs
  migrations/1659108422817_add-info-to-organization.cjs
  migrations/1675350389872_remove-free-email-provider.cjs
  migrations/1680524813673_normalize-connection-counter.cjs
  migrations/1682670752076_fix-non-consistent-verified-domains.cjs
Labels: enhancement, :file_cabinet: e2e

#1019 ✨ feat(user): add franceconnect button on info page
  .github/workflows/end-to-end.yml
  assets/css/imports/custom.css
  cypress/README.md
  cypress/e2e/connect_franceconnect_account/env.conf
  cypress/e2e/connect_franceconnect_account/fixtures.sql
  cypress/e2e/connect_franceconnect_account/index.cy.ts
  cypress/e2e/signin_with_right_acr/index.cy.ts
  cypress/e2e/update_personal_information/fixtures.sql
  cypress/e2e/update_personal_information/index.cy.ts
  cypress/support/commands.ts
  docker-compose.yml
  migrations/1740590618761_add-franceconnect-userinfo.cjs
  package-lock.json
  package.json
  packages/identite/package.json
  packages/identite/src/managers/franceconnect/index.ts
  packages/identite/src/managers/franceconnect/openid-client.ts
  packages/identite/src/repositories/franceconnect/index.ts
  packages/identite/src/repositories/user/get-franceconnect-user-info.test.ts
  packages/identite/src/repositories/user/get-franceconnect-user-info.ts
  packages/identite/src/repositories/user/index.ts
  packages/identite/src/repositories/user/update.ts
  packages/identite/src/repositories/user/upsert-franceconnect-userinfo.test.ts
  packages/identite/src/repositories/user/upsert-franceconnect-userinfo.ts
  packages/identite/src/types/franceconnect.ts
  packages/identite/src/types/index.ts
  scripts/cypress-single-test-setup.ts
  src/config/env.ts
  src/config/env.zod.ts
  src/config/notification-messages.ts
  src/connectors/franceconnect.ts
  src/controllers/main.ts
  src/controllers/user/franceconnect.ts
  src/controllers/user/update-personal-informations.ts
  src/index.ts
  src/managers/session/authenticated.ts
  src/managers/session/franceconnect.ts
  src/managers/user.ts
  src/repositories/user.ts
  src/routers/user.ts
  src/types/express-session.d.ts
  src/views/partials/revoke-verification-franceconnect.ejs
  src/views/personal-information.ejs
  src/views/user/personal-information.ejs
  test/acr-checks.test.ts
  test/env.zod.test.ts
Labels: enhancement, :memo: documentation, :traffic_light: e2e, :construction_worker: CI, :test_tube: unit test, scope: identite, :file_cabinet: e2e

#1029 ✨ feat(user): adapt to franceconnect api v2
  cypress/e2e/connect_franceconnect_account/index.cy.ts
  mocks/entreprise.api.gouv.fr/add-establishment.ts
  mocks/entreprise.api.gouv.fr/index.ts
  mocks/entreprise.api.gouv.fr/serve.ts
  mocks/oidc.franceconnect.gouv.fr/index.ts
  mocks/oidc.franceconnect.gouv.fr/select.page.ts
  mocks/oidc.franceconnect.gouv.fr/well-known.ts
  mocks/serve.ts
  package.json
  packages/identite/src/managers/franceconnect/openid-client.ts
  scripts/update-organizations-info.ts
  src/config/env.zod.ts
  src/connectors/franceconnect.ts
  src/index.ts
  test/env.zod.test.ts
Labels: enhancement, :traffic_light: e2e, :test_tube: unit test, scope: identite

#1031 docs(franceconnet): remove console log and add ignore note
  packages/identite/src/managers/franceconnect/openid-client.ts
  packages/identite/src/types/franceconnect.ts
Labels: scope: identite

#1032 update wording on the official email verif page
  cypress/e2e/join_with_code_sent_to_official_contact_email/index.cy.ts
  cypress/e2e/join_with_code_sent_to_official_educ_nat_contact_email/index.cy.ts
  src/views/user/join-organization-confirm.ejs
  src/views/user/official-contact-email-verification.ejs
Labels: :traffic_light: e2e, scope: identite

#1033 feat(config): add FEATURE_FRANCECONNECT_CONNECTION flag
  cypress/e2e/connect_franceconnect_account/env.conf
  src/config/env.ts
  src/config/env.zod.ts
  src/controllers/main.ts
  src/controllers/user/update-personal-informations.ts
  src/views/personal-information.ejs
  test/env.zod.test.ts
Labels: :traffic_light: e2e, :test_tube: unit test

#1014 chore(deps): major update to senty 9
  mocks/serve.ts
  package-lock.json
  package.json
  packages/entreprise/src/types/errors.ts
  src/index.ts
  src/instrument.ts
  src/views/partials/head.ejs
Labels: enhancement, dependencies, scope: entreprise

#1036 chore(deps): update to npm@11.2
  package.json
Labels: enhancement

#1085 feat(entreprise): add infogreffe api usecase
  packages/entreprise/README.md
  packages/entreprise/src/api/index.ts
  packages/entreprise/src/api/infogreffe/find-mandataires-sociaux-by-siren.test.ts
  packages/entreprise/src/api/infogreffe/find-mandataires-sociaux-by-siren.ts
  packages/entreprise/src/api/infogreffe/index.ts
  packages/entreprise/src/api/insee/find-by-siren.test.ts
  packages/entreprise/src/api/insee/find-by-siren.ts
  packages/entreprise/src/api/insee/find-by-siret.test.ts
  packages/entreprise/src/api/insee/find-by-siret.ts
  packages/entreprise/src/api/insee/index.ts
  packages/entreprise/src/formatters/adresse-establishment.test.ts
  packages/entreprise/src/testing/seed/infogreffe/mandataires/index.ts
  packages/entreprise/src/testing/seed/insee/siret/00557246600026.ts
  packages/entreprise/src/testing/seed/insee/siret/20007184300060.ts
  packages/entreprise/src/testing/seed/insee/siret/21920023500014.ts
  packages/entreprise/src/testing/seed/insee/siret/32122785200019.ts
  packages/entreprise/src/testing/seed/insee/siret/41816609600069.ts
  packages/entreprise/src/testing/seed/insee/siret/43841606700017.ts
  packages/entreprise/src/testing/seed/insee/siret/78824266700020.ts
  packages/entreprise/src/testing/seed/insee/siret/81104725700019.ts
  packages/entreprise/src/testing/seed/insee/siret/82271212100018.ts
  packages/entreprise/src/testing/seed/insee/siret/94957325700019.ts
  packages/entreprise/src/testing/seed/insee/siret/index.ts
  packages/entreprise/src/types/establishment.ts
  packages/identite/src/managers/organization/get-organization-info.ts
  src/connectors/api-sirene.ts
Labels: :memo: documentation, :test_tube: unit test, scope: identite, scope: entreprise

#1095 feat(entreprise): add infogreffe api usecase (2)
  packages/entreprise/src/api/find-by-siren.test.ts
  packages/entreprise/src/api/find-by-siren.ts
  packages/entreprise/src/api/find-by-siret.test.ts
  packages/entreprise/src/api/find-by-siret.ts
  packages/entreprise/src/testing/seed/siret/00557246600026.ts
  packages/entreprise/src/testing/seed/siret/20007184300060.ts
  packages/entreprise/src/testing/seed/siret/21920023500014.ts
  packages/entreprise/src/testing/seed/siret/32122785200019.ts
  packages/entreprise/src/testing/seed/siret/41816609600069.ts
  packages/entreprise/src/testing/seed/siret/43841606700017.ts
  packages/entreprise/src/testing/seed/siret/78824266700020.ts
  packages/entreprise/src/testing/seed/siret/81104725700019.ts
  packages/entreprise/src/testing/seed/siret/82271212100018.ts
  packages/entreprise/src/testing/seed/siret/94957325700019.ts
  packages/entreprise/src/testing/seed/siret/index.ts
  packages/identite/package.json
  packages/identite/src/managers/organization/get-organization-info.test.ts
  packages/identite/src/managers/organization/get-organization-info.test.ts.snapshot
  packages/identite/src/managers/organization/mark-domain-as-verified.test.ts
  packages/identite/src/managers/organization/mark-domain-as-verified.test.ts.snapshot
  packages/identite/src/mappers/organization/fromSiret.test.ts
  packages/identite/src/mappers/organization/fromSiret.test.ts.snapshot
Labels: :test_tube: unit test, scope: identite, scope: entreprise

#1096 feat(identite): add certification basics
  migrations/1740590618761_add-franceconnect-userinfo.cjs
  migrations/1741363364739_add-is-executive-to-users-organizations.cjs
  package-lock.json
  packages/entreprise/src/testing/seed/infogreffe/mandataires/index.ts
  packages/identite/package.json
  packages/identite/src/errors/index.ts
  packages/identite/src/managers/certification/distance.test.ts
  packages/identite/src/managers/certification/distance.ts
  packages/identite/src/managers/certification/index.ts
  packages/identite/src/managers/certification/is-organization-executive.test.ts
  packages/identite/src/managers/certification/is-organization-executive.ts
  packages/identite/src/managers/organization/get-organization-info.ts
  packages/identite/src/mappers/certification/index.ts
  packages/identite/src/mappers/organization/from-siret.test.ts
  packages/identite/src/mappers/organization/from-siret.test.ts.snapshot
  packages/identite/src/mappers/organization/from-siret.ts
  packages/identite/src/mappers/organization/index.ts
  packages/identite/src/repositories/email-domain/index.ts
  packages/identite/src/repositories/franceconnect/index.ts
  packages/identite/src/repositories/organization/find-by-user-id.test.ts
  packages/identite/src/repositories/organization/find-by-user-id.test.ts.snapshot
  packages/identite/src/repositories/organization/find-by-user-id.ts
  packages/identite/src/repositories/organization/index.ts
  packages/identite/src/repositories/organization/link-user-to-organization.test.ts
  packages/identite/src/repositories/organization/link-user-to-organization.test.ts.snapshot
  packages/identite/src/repositories/organization/link-user-to-organization.ts
  packages/identite/src/types/dirigeant.ts
  packages/identite/src/types/index.ts
  packages/identite/src/types/user-organization-link.ts
  packages/identite/testing/seed/franceconnect/index.ts
  packages/identite/tsconfig.json
Labels: enhancement, :test_tube: unit test, scope: identite, :file_cabinet: e2e, scope: entreprise

#1099 chore(scripts): allow delete database to fail
  scripts/cypress-single-test-setup.ts
Labels: enhancement

#1101 feat(franceconnect): force reauth
  packages/identite/src/managers/franceconnect/openid-client.ts
Labels: enhancement, scope: identite

#1102 Revert "feat(franceconnect): force reauth"
  packages/identite/src/managers/franceconnect/openid-client.ts
Labels: scope: identite
