Repository proconnect-gouv/proconnect-identite, pull requests merged in 2025-02, with the labels that each got.

#956 e2e: use douglasduteil as test subject
  cypress/e2e/signup_entreprise_unipersonnelle/index.cy.ts
Labels: enhancement, :traffic_light: e2e

#955 e2e(signin_with_right_acr): no self asserted
  cypress/e2e/signin_with_right_acr/index.cy.ts
Labels: enhancement, :traffic_light: e2e

#958 chore(pkg): use node@v22.13.1
  .github/workflows/end-to-end.yml
  .github/workflows/fixtures.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
Labels: dependencies, :construction_worker: CI

#957 refactor(siret): replace Benoit's siret with Douglas's
  test/organization.test.ts
Labels: :test_tube: unit test

#963 chore(dependabot): match the latest version
  .github/dependabot.yml
Labels: :construction_worker: CI

#943 chore(devtools): add shared typescript config
  Dockerfile
  package-lock.json
  package.json
  packages/core/tsconfig.json
  packages/crisp/tsconfig.json
  packages/debounce/package.json
  packages/debounce/src/api/single-validation.ts
  packages/debounce/tsconfig.json
  packages/devtools/typescript/base/tsconfig.json
  packages/devtools/typescript/package.json
  packages/email/tsconfig.json
  packages/identite/tsconfig.json
  packages/insee/src/formatters/libelle-from-code-effectif.ts
  packages/insee/tsconfig.json
  tsconfig.json
Labels: enhancement, dependencies, scope: email, scope: insee, scope: core, scope: crisp, scope: identite

#964 chore(pkg): depend on the shared tsconfig dependency
  .changeset/happy-years-care.md
  package-lock.json
  package.json
  packages/core/package.json
  packages/crisp/package.json
  packages/debounce/package.json
  packages/email/package.json
  packages/identite/package.json
  packages/insee/package.json
Labels: dependencies, :memo: documentation, scope: email, scope: insee, scope: core, scope: crisp, scope: identite

#968 feat(links): remove moncomptepro from doc, url & email adresses
  README.md
  assets/js/fetch-organization-info.js
  package-lock.json
  package.json
  packages/email/.storybook/SendEmailFormWebComponent.tsx
  packages/email/README.md
  packages/email/src/DeleteAccessKey.stories.tsx
  packages/email/src/DeleteAccount.stories.tsx
  packages/email/src/DeleteFreeTotpMail.stories.tsx
  packages/email/src/UpdateTotpApplication.stories.tsx
  packages/email/src/components/ProConnectLogo.tsx
  scripts/fixtures.sql
  src/config/env.ts
  src/connectors/crisp.ts
  src/connectors/postgres.ts
  src/managers/totp.ts
  src/managers/user.ts
  src/managers/webauthn.ts
  src/middlewares/connection-count.ts
  src/types/express-session.d.ts
  src/views/error.ejs
  src/views/mails/unable-to-auto-join-organization.ts
  src/views/manage-organizations.ejs
  src/views/partials/footer.ejs
  src/views/user/join-organization.ejs
Labels: :memo: documentation, scope: email

#967 Change domain
  installation.md
  migrations/1738935239433_revoke-authenticators.cjs
Labels: :memo: documentation, :file_cabinet: e2e

#939 chore(ui): update front 2fa
  .github/workflows/end-to-end.yml
  assets/css/imports/custom.css
  assets/css/imports/layout.css
  assets/js/authent-app-installed-on-phone.js
  cypress/e2e/activate_totp/index.cy.ts
  cypress/e2e/delete_totp/index.cy.ts
  cypress/e2e/reauthenticate_on_admin_page/index.cy.ts
  cypress/e2e/signin_with_totp/index.cy.ts
  cypress/e2e/update_totp_application/env.conf
  cypress/e2e/update_totp_application/fixtures.sql
  cypress/e2e/update_totp_application/index.cy.ts
  cypress/support/commands.ts
  packages/email/src/Add2fa.tsx
  packages/email/src/UpdateTotpApplication.stories.tsx
  packages/email/src/UpdateTotpApplication.tsx
  packages/email/src/index.ts
  public/application.svg
  public/padlock.svg
  public/single-use-code.svg
  src/config/notification-messages.ts
  src/controllers/2fa.ts
  src/controllers/main.ts
  src/controllers/totp.ts
  src/controllers/user/2fa-sign-in.ts
  src/managers/user.ts
  src/routers/main.ts
  src/views/authenticator-app-configuration.ejs
  src/views/configuring-single-use-code.ejs
  src/views/connection-and-account.ejs
  src/views/double-authentication.ejs
  src/views/partials/breadcrumb.ejs
  src/views/partials/header.ejs
  src/views/user/2fa-sign-in.ejs
Labels: :traffic_light: e2e, scope: email, :construction_worker: CI, :test_tube: unit test

#988 refactor: extract force join organization
  .changeset/famous-hats-dream.md
  package-lock.json
  packages/identite/package.json
  packages/identite/src/errors/index.ts
  packages/identite/src/managers/organization/force-join-organization.test.ts
  packages/identite/src/managers/organization/force-join-organization.ts
  packages/identite/src/managers/organization/index.ts
  packages/identite/src/repositories/organization/index.ts
  packages/identite/src/repositories/organization/link-user-to-organization.test.ts
  packages/identite/src/repositories/organization/link-user-to-organization.ts
  packages/identite/src/repositories/organization/upsert.ts
  packages/identite/src/repositories/user/find-by-id.ts
  src/config/errors.ts
  src/controllers/api.ts
  src/controllers/organization.ts
  src/controllers/totp.ts
  src/controllers/user/edit-moderation.ts
  src/controllers/webauthn.ts
  src/managers/moderation.ts
  src/managers/oidc-client.ts
  src/managers/organization/join.ts
  src/managers/organization/main.ts
  src/managers/organization/official-contact-email-verification.ts
  src/managers/user.ts
  src/managers/webauthn.ts
Labels: enhancement, :memo: documentation, :test_tube: unit test, scope: identite

#990 fix(identite): wrong not found error
  .changeset/early-bags-happen.md
  packages/identite/src/managers/organization/force-join-organization.ts
  packages/identite/src/managers/organization/get-organization-info.ts
  packages/identite/src/managers/organization/mark-domain-as-verified.test.ts
  packages/identite/src/managers/organization/mark-domain-as-verified.ts
Labels: bug, :memo: documentation, :test_tube: unit test, scope: identite

#996 refactor: some clean up (actually fix the metabase cron not being run…
  README.md
  scripts/create-anonymized-copy-of-database.sh
  scripts/fixtures.sql
Labels: :memo: documentation

#573 chore: add option to record tests with cypress to generate demo videos
  cypress.config.ts
  cypress/support/e2e.ts
Labels: :traffic_light: e2e

#998 fix(typo): fix typo in test description
  cypress/e2e/signin_with_right_acr/index.cy.ts
Labels: :traffic_light: e2e

#997 docs(cypress): add doc to generate cypress record
  cypress/README.md
Labels: :memo: documentation, :traffic_light: e2e

#1001 chore(pkg): avoid deleting dist in node_modules
  package.json
Labels: enhancement

#1003 chore(tsconfig): ensure to include cypress files
  tsconfig.json
Labels: enhancement

#1006 fix(connectors): add HTTP_CLIENT_TIMEOUT
  src/connectors/api-sirene.ts
Labels: bug
