Repository proconnect-gouv/proconnect-identite, pull requests merged in 2025-06, with the labels that each got.

#1251 [PCI-410] remove doublons for email domains
  .changeset/wild-vans-act.md
  migrations/1748262184403_delete-duplicates-email-domain.cjs
  packages/identite/src/managers/organization/mark-domain-as-verified.test.ts
  packages/identite/src/managers/organization/mark-domain-as-verified.ts
  packages/identite/src/managers/user/assign-user-verification-type-to-domain.ts
  packages/identite/src/managers/user/index.ts
  packages/identite/src/repositories/email-domain/delete-email-domains-by-verification-types.test.ts
  packages/identite/src/repositories/email-domain/delete-email-domains-by-verification-types.ts
  packages/identite/src/repositories/email-domain/index.ts
  packages/identite/src/types/email-domain.ts
  src/controllers/api.ts
  src/managers/organization/main.ts
  src/repositories/email-domain.ts
  src/routers/api.ts
Labels: :memo: documentation, :test_tube: unit test, scope: identite, :file_cabinet: e2e

#1277 Fix migrations for deployment
  migrations/1741363364739_add-is-executive-to-users-organizations.cjs
  migrations/1749574611474_remove-is-executive-from-users-organizations.cjs
Labels: :file_cabinet: e2e

#1281 fix: error illustration regression
  public/error.svg
  src/controllers/organization.ts
Labels: bug

#1282 feat(identite): add new verification type
  .changeset/icy-candles-shake.md
  packages/identite/src/types/user-organization-link.ts
Labels: :memo: documentation, scope: identite

#1294 refactor(entreprise): rename entreprise api insee sirene data types
  packages/entreprise/src/testing/seed/insee/siret/00557246600026.ts
  packages/entreprise/src/testing/seed/insee/siret/20007184300060.ts
  packages/entreprise/src/testing/seed/insee/siret/21920023500014.ts
  packages/entreprise/src/testing/seed/insee/siret/32122785200019.ts
  packages/entreprise/src/testing/seed/insee/siret/41816609600069.ts
  packages/entreprise/src/testing/seed/insee/siret/43841606700017.ts
  packages/entreprise/src/testing/seed/insee/siret/78824266700020.ts
  packages/entreprise/src/testing/seed/insee/siret/81104725700019.ts
  packages/entreprise/src/testing/seed/insee/siret/82271212100018.ts
  packages/entreprise/src/testing/seed/insee/siret/94957325700019.ts
  packages/entreprise/src/types/establishment.ts
  packages/identite/src/managers/organization/get-organization-info.test.ts
  packages/identite/src/mappers/organization/from-siret.ts
  packages/testing/src/api/data/people.ts
  packages/testing/src/api/routes/entreprise.api.gouv.fr/etablissements/discover.page.tsx
  packages/testing/src/api/routes/entreprise.api.gouv.fr/etablissements/index.ts
  packages/testing/src/cli/entreprise/etablissements/add.ts
Labels: enhancement, :test_tube: unit test, scope: identite, scope: entreprise

#1301 chore: raise rate limit to avoid integ01 test throttling (temporary w…
  cypress/e2e/rate_limit_by_ip/index.cy.ts
  src/middlewares/rate-limiter.ts
Labels: :traffic_light: e2e

#1295 feat(mfa): Mouv middleware to verify email address before installing 2FA
  cypress/e2e/set_info_after_account_provisioning/index.cy.ts
  cypress/e2e/signin_with_email_verification/index.cy.ts
  cypress/e2e/signin_with_email_verification_renewal/index.cy.ts
  cypress/e2e/signin_with_magic_link/index.cy.ts
  cypress/e2e/signin_with_totp/fixtures.sql
  cypress/e2e/signin_with_totp/index.cy.ts
  cypress/e2e/signup_entreprise_unipersonnelle/index.cy.ts
  cypress/support/commands.ts
  src/middlewares/user.ts
  src/routers/user.ts
Labels: :traffic_light: e2e

#1307 docs(install): add build command for installing app
  installation.md
Labels: :memo: documentation

#1312 test(docker): wait 5s max for the server to start
  container-structure-test.yml
Labels: enhancement

#1311 🐛 fix: remove null and empty field in claim
  cypress/e2e/signin_from_proconnect_federation_client/fixtures.sql
  cypress/e2e/signin_from_proconnect_federation_client/index.cy.ts
  cypress/e2e/signin_from_standard_client/index.cy.ts
  packages/identite/src/types/claims.ts
  packages/identite/src/types/index.ts
  src/services/oidc-account-adapter.ts
Labels: enhancement, :traffic_light: e2e, scope: identite
