Repository proconnect-gouv/proconnect-identite, pull requests merged in 2025-07, with the labels that each got.

#1325 ✨ feat(core): export data folder for direct free email domains import
  .changeset/yummy-cloths-start.md
  packages/core/README.md
  packages/core/package.json
  packages/core/src/data/index.ts
Labels: :memo: documentation, scope: core

#1324 🎭 refactor: rename MonComptePro to ProConnect Identité
  .env.development
  .env.test
  .github/workflows/end-to-end.yml
  .github/workflows/fixtures.yml
  README.md
  compose.yml
  installation.md
  packages/core/CHANGELOG.md
  packages/email/CHANGELOG.md
  test/env.zod.test.ts
Labels: enhancement, :memo: documentation, scope: email, :construction_worker: CI, :test_tube: unit test, scope: core

#1309 feat(mfa): add mfa everywhere checkbox
  cypress/e2e/signin_with_totp/index.cy.ts
  cypress/e2e/signin_with_totp_enrollment/index.cy.ts
  src/controllers/totp.ts
  src/controllers/user/two-factors-authentication-configuration.ts
  src/managers/session/temporary-force-2fa.ts
  src/managers/totp.ts
  src/services/custom-zod-schemas.ts
  src/types/express-session.d.ts
  src/views/user/double-authentication-choice.ejs
Labels: :traffic_light: e2e

#1345 📝 remove legacy doc (moved to README.md)
  installation.md
Labels: :memo: documentation

#1344 delete useless job input
  cypress/e2e/set_info_after_account_provisioning/index.cy.ts
  cypress/e2e/signin_with_certification_dirigeant/index.cy.ts
  cypress/e2e/signup_entreprise_unipersonnelle/index.cy.ts
  src/controllers/main.ts
  src/controllers/user/update-personal-informations.ts
  src/managers/user.ts
  src/middlewares/user.ts
  src/views/user/personal-information.ejs
  src/views/user/welcome-dirigeant.ejs
Labels: enhancement, :traffic_light: e2e

#1329 ✨ Add 2FA configuration checkbox
  assets/js/webauthn-registration.js
  cypress/e2e/signin_with_certification_dirigeant/fixtures.sql
  cypress/e2e/signin_with_totp/index.cy.ts
  cypress/e2e/signin_with_totp_enrollment/fixtures.sql
  cypress/e2e/signin_with_totp_enrollment/index.cy.ts
  src/controllers/totp.ts
  src/controllers/user/two-factors-authentication-configuration.ts
  src/controllers/webauthn.ts
  src/managers/session/temporary-force-2fa.ts
  src/managers/totp.ts
  src/managers/webauthn.ts
  src/services/custom-zod-schemas.ts
  src/types/express-session.d.ts
  src/views/user/double-authentication-choice.ejs
Labels: :traffic_light: e2e

#1350 🚑 force_2fa checkbox is clickable
  cypress/e2e/activate_totp/index.cy.ts
  cypress/e2e/signin_with_totp_enrollment/index.cy.ts
  src/views/user/double-authentication-choice.ejs
Labels: :traffic_light: e2e

#1351 Fixes some glitches
  assets/js/webauthn-registration.js
  cypress/e2e/update_personal_information/fixtures.sql
  src/services/custom-zod-schemas.ts
  src/views/connection-and-account.ejs
  src/views/double-authentication.ejs
  src/views/personal-information.ejs
Labels: :traffic_light: e2e

#1352 📝 add CONTRIBUTING.md
  CONTRIBUTING.md
Labels: :memo: documentation

#1353 ✅ split certif dirigeant tests into two files between sign-in and sign-up
  .github/workflows/end-to-end.yml
  cypress/e2e/signin_with_certification_dirigeant/index.cy.ts
  cypress/e2e/signup_with_certification_dirigeant/env.conf
  cypress/e2e/signup_with_certification_dirigeant/fixtures.sql
  cypress/e2e/signup_with_certification_dirigeant/index.cy.ts
Labels: :traffic_light: e2e, :construction_worker: CI

#1355 ✅ Adds manual test documentation for passkey configuration
  cypress/README.md
Labels: :memo: documentation, :traffic_light: e2e

#1359 📝 update documentation for local testing
  cypress/README.md
  package.json
  scripts/cypress-single-test-setup.ts
Labels: :memo: documentation, :traffic_light: e2e

#1363 📝 add comprehensive README for testing package
  packages/testing/README.md
Labels: :memo: documentation
