Repository proconnect-gouv/proconnect-identite, pull requests merged in 2025-09, with the labels that each got.

#1399 :pencil2: removes visible HTML tags from email & add missing 'safe'
  packages/email/src/Add2fa.tsx
  packages/email/src/ModerationProcessed.tsx
Labels: scope: email

#1414 🚥 test(e2e): add quit organization
  .github/workflows/end-to-end.yml
  cypress/e2e/quit-organization/env.conf
  cypress/e2e/quit-organization/fixtures.sql
  cypress/e2e/quit-organization/index.cy.ts
Labels: :traffic_light: e2e, :construction_worker: CI

#1421 📌 fix postgres and redis version to match the one available in scalingo
  .github/dependabot.yml
  compose.yml
Labels: :construction_worker: CI

#1411 ✨ add refused moderation page
  .github/workflows/end-to-end.yml
  cypress/e2e/join_org_with_rejected_moderation/env.conf
  cypress/e2e/join_org_with_rejected_moderation/fixtures.sql
  cypress/e2e/join_org_with_rejected_moderation/index.cy.ts
  packages/identite/src/errors/index.ts
  public/illu-user.svg
  public/warning.svg
  src/config/errors.ts
  src/controllers/organization.ts
  src/controllers/user/edit-moderation.ts
  src/managers/moderation.ts
  src/managers/organization/join.ts
  src/repositories/moderation.ts
  src/routers/user.ts
  src/services/moderation.test.ts
  src/services/moderation.ts
  src/views/partials/icon-edit-personal-info-form.ejs
  src/views/user/moderation-rejected.ejs
  src/views/user/unable-to-auto-join-organization.ejs
Labels: :traffic_light: e2e, :construction_worker: CI, :test_tube: unit test, scope: identite

#1368 feat: partial mock system
  packages/testing/src/api/routes/api.insee.fr/etablissements/index.ts
  packages/testing/src/api/routes/entreprise.api.gouv.fr/etablissements/index.ts
  packages/testing/src/api/routes/entreprise.api.gouv.fr/mandataires_sociaux/index.ts
  scripts/update-organizations-info.ts
  src/config/env.ts
  src/config/env.zod.ts
  src/connectors/api-sirene.ts
  test/env.zod.test.ts
Labels: enhancement, :test_tube: unit test

#1439 🔀 change default branche to main
  .changeset/config.json
  .github/workflows/docker.yml
  .github/workflows/release.yml
  packages/core/package.json
  packages/crisp/package.json
  packages/debounce/package.json
  packages/email/package.json
  packages/entreprise/package.json
  packages/identite/package.json
  packages/insee/package.json
  packages/testing/package.json
Labels: scope: email, :construction_worker: CI, scope: insee, scope: core, scope: crisp, scope: identite, scope: entreprise, scope: debounce

#1453 🔒 fix(moderation): return default reason instead of exposing moderator identity
  cypress/e2e/join_org_with_rejected_moderation/fixtures.sql
  cypress/e2e/join_org_with_rejected_moderation/index.cy.ts
  src/services/moderation.test.ts
  src/services/moderation.ts
Labels: bug, :traffic_light: e2e, :test_tube: unit test

#1452 chore: add prettier-plugin-sql
  cypress/e2e/activate_totp/fixtures.sql
  cypress/e2e/broken_standard_client/fixtures.sql
  cypress/e2e/check_email_deliverability/fixtures.sql
  cypress/e2e/connect_franceconnect_account/fixtures.sql
  cypress/e2e/delete_account/fixtures.sql
  cypress/e2e/delete_totp/fixtures.sql
  cypress/e2e/join_and_moderation/fixtures.sql
  cypress/e2e/join_collectivite_territoriale_free_contact_domain/fixtures.sql
  cypress/e2e/join_collectivite_territoriale_official_contact_domain/fixtures.sql
  cypress/e2e/join_must_confirm/fixtures.sql
  cypress/e2e/join_org_with_rejected_moderation/fixtures.sql
  cypress/e2e/join_org_with_trackdechets_domain/fixtures.sql
  cypress/e2e/join_org_with_verified_domain/fixtures.sql
  cypress/e2e/join_with_code_sent_to_official_contact_email/fixtures.sql
  cypress/e2e/join_with_code_sent_to_official_educ_nat_contact_email/fixtures.sql
  cypress/e2e/join_with_free_email_domain/fixtures.sql
  cypress/e2e/join_with_official_contact_email/fixtures.sql
  cypress/e2e/quit-organization/fixtures.sql
  cypress/e2e/rate_limit_by_email/fixtures.sql
  cypress/e2e/reauthenticate_on_admin_page/fixtures.sql
  cypress/e2e/redirect_after_session_expiration/fixtures.sql
  cypress/e2e/reset_password/fixtures.sql
  cypress/e2e/set_info_after_account_provisioning/fixtures.sql
  cypress/e2e/signin_from_proconnect_federation_client/fixtures.sql
  cypress/e2e/signin_from_standard_client/fixtures.sql
  cypress/e2e/signin_with_certification_dirigeant/fixtures.sql
  cypress/e2e/signin_with_email_verification/fixtures.sql
  cypress/e2e/signin_with_email_verification_renewal/fixtures.sql
  cypress/e2e/signin_with_legacy_acr/fixtures.sql
  cypress/e2e/signin_with_legacy_scope/fixtures.sql
  cypress/e2e/signin_with_right_acr/fixtures.sql
  cypress/e2e/signin_with_totp/fixtures.sql
  cypress/e2e/signin_with_totp_enrollment/fixtures.sql
  cypress/e2e/signup_with_certification_dirigeant/fixtures.sql
  cypress/e2e/update_personal_information/fixtures.sql
  cypress/e2e/use_extra_param_sp_name/fixtures.sql
  package-lock.json
  package.json
  scripts/delete_all.sql
  scripts/fixtures.sql
Labels: enhancement, :traffic_light: e2e

#1446 ⚙️ fix(config): generate Symmetric-key
  .env.development
  cypress/e2e/delete_totp/env.conf
  cypress/e2e/rate_limit_by_email/env.conf
  cypress/e2e/reauthenticate_on_admin_page/env.conf
  cypress/e2e/signin_with_right_acr/env.conf
  cypress/e2e/signin_with_totp/env.conf
  src/config/env.zod.ts
  src/config/errors.ts
  src/services/symmetric-encryption.ts
  test/env.zod.test.ts
  test/symmetric-encryption.test.ts
Labels: :traffic_light: e2e, :test_tube: unit test

#1456 chore(core): remove tsdoc action
  .github/workflows/tsdoc.yml
  packages/core/package.json
  packages/core/src/services/oidc/README.md
Labels: enhancement, :memo: documentation, :construction_worker: CI, scope: core

#1457 🎨 glitches on moderation rejected error page
  cypress/e2e/join_org_with_rejected_moderation/index.cy.ts
  src/controllers/organization.ts
  src/views/user/moderation-rejected.ejs
  src/views/user/unable-to-auto-join-organization.ejs
Labels: :traffic_light: e2e
